= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .card
    = f.label :summoner_name
    = f.text_field :summoner_name
    = f.label :region
    = f.select :region do
      - shards.each do |shard|
        = content_tag :option, shard['name'], value: shard['slug']
    = f.label :password
    = f.password_field :password
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    = recaptcha_tags

  .actions
    = f.submit 'Register'
