#side-menu
  .side-menu-content
    %ul
      - if logged_in?
        %li.profile-icon
          .row
            = image_tag ddragon_profileicon(current_user.summoner_icon), alt: "profile-icon"
          .row
            = current_user.summoner_name
        %li
          %ul.breadcrumbs
            %li= link_to "My Bugs", "#"
            %li= link_to "Profile", current_user
            %li= link_to 'Log out', logout_path, method: :delete
      - else
        %ul.breadcrumbs
          %li= link_to 'Sign up', signup_path
          %li= link_to 'Log in', login_path
      %li.divider
      %li.section
        %h5 Bugs
        %ul
          - BugType.all.each do |type|
            %li.section-item
              %a= type.name
.fixed
  %nav.topnav{ role: 'navigation' }
    %ul.title-area
      %li.side-menu-btn#open-menu-button
        %i.fa.fa-bars
      %li.name
        %h1
          = link_to root_path do
            Kha'Zix Journal
