= form_for(@bug) do |f|
  - if @bug.errors.any?
    #error_explanation
      %h2
        = pluralize(@bug.errors.count, "error")
        prohibited this bug from being saved:
      %ul
        - @bug.errors.full_messages.each do |message|
          %li= message
  %ul.cardholder
    %li
      %h4.card-title Bug type
      %ul.small-block-grid-1.medium-block-grid-3
        - BugType.all.each do |bt|
          %li
            = f.radio_button :bug_type, bt.id
            = f.label "bug_type_#{bt.id}", bt.name
  .actions
    = f.submit