!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }/
    %meta{ name: 'theme-color', content: '#542FA3' }/
    %title Kha'Zix Journal
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/header'
    = render 'shared/flash'
    = yield
    = render 'shared/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '//www.google.com/recaptcha/api.js', 'data-tubo-links-track' => true